*{
    padding: 0;
    margin: 0;
    

}

#navbarMonstera{
    margin:23px 48px 19px 48px;
    font-size:large;
    font-family:  sans-serif;
}

#navbarMonstera > div{
    display: inline;
    margin: 0px 69px 0 81px;
}
.list-item{
display: inline;
}

#navMid > div{
    display: inline;
    margin: 0 30px 0 30px;
}

#navEnd >div{
    display: inline;
    margin: 0 10px 0 10px;
}



#imgMain{
    height:90%; 
    right:0%;
    top: 10%;
    position:absolute;
    
}
#midWholePart1{
    width: 40%;
    text-align:justify;
    margin-left: 4%;
    margin-top: 10%;
   
}
#midWholePart11{
    font-size: 20px;
    

}
#midWholePart11 li{
    font-size:large;
}
#monstera{
    font-size:130px;
}


#midWholePart12{
  color:white;
  border-radius: 20px;
  text-align:center;
  width: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
  

}

#midWholePart121{
    background-color: #446A46;
    padding: 10px 20px 10px 20px ;
    border-radius: 20px;
}
#midWholePart121 h1{

    font-size:30px;
}
#midWholePart122 > img{
    height: 21px;
    width: 22px;
    position:absolute;
     left: 260px;
     bottom:17px;
     margin-left: 10px;
}

#midWholePart13{
    width:722px;
} 
.midWholePart13Parts {
 width:31%;
 float: left;
}
.text{
    font-size: small;
    text-align:left;
}
.midWholePart13Parts img{
    float: left;
    position: relative;
    width: 40px;
    height: 50px;
    margin-right: 10px;
}
